{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<!-- <h2> Are you sure you want to delete {{item.name}}? </h2> -->

<div class="row divider green">
	<div class="col-md-12"></div>
</div>
<div class="row banner menu">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>Delete Menu Item</h1>
	</div>
</div>

<form action="#" method = 'post'>
	<button type="submit" class="btn btn-delete" id="submit" type="submit">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Delete</button>

	<!-- CANCEL LINK THAT GOES BACK TO showRestaurants() url -->
	<button type="button" class="btn btn-default delete" id="button" type="button">
			<a href = '{{url_for('showRestaurants')}}'</a>
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Cancel</button>

</form>

{% endblock %}
