{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Restaurant</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" class="form-control" maxlength="250" name="name">
					<label for="street">Street:</label>
					<input type ="text" class="form-control" maxlength="120" name="street">
					<label for="city">City:</label>
					<input type ="text" class="form-control" maxlength="75" name="city">
					<label for="zipcode">Zip Code:</label>
					<input type ="text" class="form-control" maxlength="10" name="zipcode">
					<label for="rtype">Restaurant Category:</label>
						<div class="radio">
							<label>
								<input type="radio" name="rtype" id="rtype1" value="Fine Dining">Fine Dining
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="rtype" id="rtype2" value="Tavern">Tavern
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="rtype" id="rtype3" value="FastFood">Fast Food
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="rtype" id="rtype4" value="Breakfast-Lunch">Breakfast-Lunch
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="rtype" id="rtype5" value="Other">Other
							</label>
						</div>
						<button type="submit" class="btn btn-default" id="submit" type="submit">
						<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
						<div class="padding-bottom"></div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
